# 本地文档不上传
docs/

# PlatformIO
.pio/
.piolibdeps/

# ESP-IDF generated
sdkconfig
sdkconfig.*
!sdkconfig.defaults
build/

# Fetch cache

# Python
tools/decouple_scope/.venv/
__pycache__/
*.pyc

# IDE
.theia/
.vscode/
*.swp
*~
