# KK-track TX ESP32-C3 + BNO085 SPI (board_tx.h)
CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART_TX_GPIO=21
CONFIG_ESP_CONSOLE_UART_RX_GPIO=20
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=n

CONFIG_ESP32_BNO08X_GPIO_HINT=3
CONFIG_ESP32_BNO08X_GPIO_RST=10
CONFIG_ESP32_BNO08X_GPIO_CS=7
CONFIG_ESP32_BNO08X_GPIO_SCL=4
CONFIG_ESP32_BNO08X_GPIO_DI=6
CONFIG_ESP32_BNO08X_GPIO_SDA=5
CONFIG_ESP32_BNO08X_GPIO_WAKE=-1
CONFIG_ESP32_BNO08x_SPI_HOST=1
CONFIG_ESP32_BNO08X_SCL_SPEED_HZ=1000000
CONFIG_ESP32_BNO08X_SPI_INTR_CPU_AFFINITY=0
CONFIG_ESP32_BNO08X_DATA_PROC_TASK_SZ=4096
